# Disk df
    define service{
        use                     service-atv-base
        host_name               host-linux-w-key,host-linux-wo-key
        service_description     disk_df.root
        check_command           check_disk_df!/!80
    }
    
# Disk du
    define service{
        use                     service-atv-base
        host_name               host-linux-w-key,host-linux-wo-key
        service_description     disk_du.logdir
        check_command           check_disk_du!/var/log!1500
    }